@import "../../global.scss";

.intro {
    background-color: black;
    background-image: url("https://wallpaperaccess.com/full/1101999.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */


    display: flex;
    
    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: x-large;

        h1 {
          color: white;
        }

        h2 {
          color: white;
        }

        h3 {
            color: darkgreen;
        }
        @include mobile{
            font-size: small;
            width: auto;
          }
    }

    .arrow {    
        margin: auto;
        width: auto;
        padding: 10px;
        size: 10px; 
        margin-bottom: 30px;

        .ityped-cursor {
            animation: blink 1s infinite;
          }
          @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
        @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
          }
        a {
            img {
              width: 30px;
              animation: arrowBlink 2s infinite;
            }
        }
    }
}